@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.about{
    text-align: center;
    color: rgb(201, 201, 201);
    font-family: 'PT Serif', serif;
    font-size: 30px;
}

.container{
    text-align: center;
}

.btn{
    height: 70px;
    width: 200px;
    margin: 10px;
    background-color: grey
}