<p class = "container">
    <span style = "color: red; font-weight: bold;">Red</span>: Passion, Power, Danger, Violence
</p>

<br>
<p class = "container">
    <span style = "color: orange; font-weight: bold;">Orange</span>: Energy, Warmth, Enthusiasm, Kindness
</p>

<br>
<p class = "container">
    <span style = "color: yellow; font-weight: bold;">Yellow</span>: Playfulness, Cowardiace, Happiness, Youth
</p>

<br>
<p class = "container">
    <span style = "color: green; font-weight: bold;">Green</span>: Nature, Growth, Fertility, Vigor
</p>

<br>
<p class = "container">
    <span style = "color: blue; font-weight: bold;">Blue</span>: Peace, Harmony, Truth, Loyalty, Order
</p>

<br>
<p class = "container">
    <span style = "color: blueviolet; font-weight: bold;">Purple</span>: Luxury, Royalty, Magic, Spirituality
</p>

<br>
<p class = "container">
    <span style = "color: pink; font-weight: bold;">Pink</span>: Love, Acceptance, Sensitivity, Sweetness
</p>

<br>
<p class = "container">
    <span style = "color: White; font-weight: bold;">White</span>: Purity, Simplicity, Cleanliness, Innocence
</p>

<br>
<p class = "container">
    <span style = "color: rgb(61, 61, 61); font-weight: bold;">Black</span>: Elegance, Sophistication, Mourning, Mystery
</p>

<br>
<p class = "container">
    <span style = "color: rgb(117, 68, 39); font-weight: bold;">Brown</span>: Stability, Comfort, Reliability, Poverty
</p>