<h1 style = "font-weight: bold;">Color</h1>
    <p class = "container">
        Color is the property which gives an object a specific appearance based off of how the object absorbs and reflects light. 
        Though color may be a concept that many of us would consider ourselves familiar with, how it actually works and the entire spectrum of it is something most don't understand.
    </p>
    <p class = "container">
        Color is composed of 3 major properties: <span style = "color: red; font-weight: bold;">Hue</span>, <span style = "color: blue; font-weight: bold;">Saturation</span>, and <span style ="color: yellow;font-weight: bold;">Value</span>.
    </p>
    <p class = "container">
        If you've ever worked with a color picker then you've already seen how all three of these properties interact with one another to create a color.
    </p>
    <img src = "assets/Colorpicker.PNG">
    <p class = "container">
        To put it simply you can imagine <span style ="color: blue;font-weight: bold;">Saturation</span> and <span style ="color: yellow;font-weight: bold;">Value</span> each as a number from 0 to 100 and <span style ="color: red;font-weight: bold;">Hue</span>
        as a number from 0 to 360. How you get a specific color is by combining differing intensities of all three. Even changing one of these properties can have a drastic effect on how a color can change.
    </p>
    <div class = "container">
        <div class = "col-xs-12">
            <img style = "margin: 10px;" src = "assets/saturation5.png">
            
            <img style = "margin: 10px;" src = "assets/saturation50.png">
            
            <img style = "margin: 10px;" src = "assets/saturation100.png">
        </div>
    </div>
    <p class = "container">
        Here's an example of a color with the exact same <span style = "color: red; font-weight: bold;">Hue</span> and <span style ="color: yellow;font-weight: bold;">Value</span>, but with
        <span style ="color: blue;font-weight: bold;">Saturation</span> levels of 5, 50, and 100 respectively.
    </p>
    <p class = "container">
        <span style ="color: blue;font-weight: bold;">Saturation</span> should be in higher amounts when you want to draw attention to a specific thing in a design
        or when you want to capture a dream like, abstract or cartoony nature and a lower amount when you want to ground objects in reality or make it more digestible. 
        <span style ="color: yellow;font-weight: bold;">Value</span> should be used to group objects together or seperate objects from one another in order to create contrast or unity,
         colors of similar values will look like they belong with one another and colors with very different values will feel seperate from one another.
        <span style = "color: red; font-weight: bold;">Hue</span> is special in that using it effectively relies so heavily on the other parts of color theory (Symbolism and Harmony), 
        and it doesn't really do much on it's own like <span style ="color: yellow;font-weight: bold;">Value</span> and <span style ="color: blue;font-weight: bold;">Saturation</span> do.   
    </p>

    <button class = "btn btn-secondary" (click) = "scrollUp()">
        Go back up.
    </button>