<!--
  instructions telling the user what to do
-->
<div>
    <div class = "instructions">
        Choose one or more colors to see their color harmonies.
    </div>
</div>

<!--
  conatiner containing all colors of the color wheel
-->
<div class = "about">
  <div class = "container">

    <!--
      uses ngFor to create 12 button, one for each color within the color wheel, each button is assigned an id of i which is used to style it to the correct color.
      when the button is clicked it will activate toggleTrue(i) function which toggles the colors array element of the same index from true to false or vice versa.
      clicking the button will also give it the active styling, which gives it a white border around it.
      The coloredButton classed is given to all of them to set height, width, margin etc.
    -->
    <button 
    *ngFor="let color of colors; index as i" 
    (click) = "toggleTrue(i);"
    class = "coloredButton" 
    id = "{{i}}"
    [ngClass]="{'active':colors[i]==true}"
    > </button>

    <!--
      creates a divide between the buttons and a description, router-outlet will direct the page to one of the combination component based on the function
      checkRelationship() that is ran everytime a button is clicked. Look inside of the component ts file for more information.
    -->
      <hr style = "background-color: white;">
      <router-outlet></router-outlet>
  </div>  
</div>
