<div class = "container">
    <span style = "color: red; font-weight: bold;">Red</span>: Masculinity (UK and France), Danger (USA and Mexico), Unluckiness (Nigeria, Chad, and Germany), Luck (Denmark, Egypt, and Argentina), Vitality (Nigeria), Mourning (South Africa)
</div>

<br>
<div class = "container">
    <span style = "color: orange; font-weight: bold;">Orange</span>: Bravery (Ukraine)
</div>

<br>
<div class = "container">
    <span style = "color: yellow; font-weight: bold;">Yellow</span>: Warmth (USA), Evil (France), Envy (Germany and Russia), Fertility (Colombia)
</div>

<br>
<div class = "container">
    <span style = "color: green; font-weight: bold;">Green</span>: Inexperienced, Greed (USA), Envy (Belgium and USA), Luck (Ireland), Independence (Mexico)
</div>

<br>
<div class = "container">
    <span style = "color: blue; font-weight: bold;">Blue</span>: Grace (Catholic), Heaven (Catholic), Warmth (The Netherlands), Cold (Sweden and USA), Femininity (The Netherlands), Masculinity (USA and Sweden), Death (Iran), Trustworthiness (USA)
</div>

<br>
<div class = "container">
    <span style = "color: blueviolet; font-weight: bold;">Purple</span>: Religion (Christian), Mourning (Brazil), Envy (Mexico)
</div>

<br>
<div class = "container">
    <span style = "color: pink; font-weight: bold;">Pink</span>: Femininity (USA)
</div>

<br>
<div class = "container">
    <span style = "color: rgb(61, 61, 61); font-weight: bold;">Black</span>: Death, Independence (Italy), Maturity (Africa)
</div>

<br>
<div class = "container">
    <span style = "color: White; font-weight: bold;">White</span>: Marriage (USA), Happiness (Australia and New Zealand)
</div>


