@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

.ColorPicker{
    margin-top: 50px;
    margin-left: 100px;
    height: 400px;
    width: 400px;
}

.instructions{
    padding: 10px;
    font-size: 40px;
    text-align: center;
    background-color: black;
    color: rgb(233, 233, 233);
    font-family: 'Sansita Swashed', cursive;
}

h3{
    color: white;
}

#hue{
    position: absolute;
    margin-top: 200px;
    margin-left: 100px;
}

.fillers{
    width: 100px;
    height: 100px;
    float: left;
}

