<div class = "container">
    <span style = "color: red; font-weight: bold;">Red</span>: Happiness (Japan), Luck (China), Love (China, Japan, and South Korea), Marriage (China), Ambition (India)
</div>

<br>
<div class = "container">
    <span style = "color: orange; font-weight: bold;">Orange</span>: Sacredness (Buddhism and Hinduism) 
</div>

<br>
<div class = "container">
    <span style = "color: yellow; font-weight: bold;">Yellow</span>: Happiness (China), Dependability (China), Wealth (Japan), Luck (Thailand)
</div>

<br>
<div class = "container">
    <span style = "color: green; font-weight: bold;">Green</span>: Trustworthiness (China), Danger (Malaysia), Love (Japan)
</div>

<br>
<div class = "container">
    <span style = "color: blue; font-weight: bold;">Blue</span>: Cold (East Asia), Evil (East Asia), Dependability (Japan and Korea)
</div>

<br>
<div class = "container">
    <span style = "color: blueviolet; font-weight: bold;">Purple</span>: Evil (Japan), Impurity (Japan), High Quality (China and South Korea), Mourning (Thailand)
</div>

<br>
<div class = "container">
    <span style = "color: pink; font-weight: bold;">Pink</span>: Trust (South Korea) 
</div>

<br>
<div class = "container">
    <span style = "color: White; font-weight: bold;">White</span>: Death (East Asia), Mourning (East Asia), Purity (India)
</div>

