<h1 style = "font-weight: bold;">Harmony</h1>
<p class = "container">
    Color Harmony is how colors interact with one another based on their place on the color wheel, or more precisely their hue (see Color Section for more details). When interacting with one
    another these colors can create color relationships that have certain effects on a design's message and appearance.
</p>
<p class = "container">
    There are generally 6 agreed upon color relationships that exist in color harmony, <span style = "color: red; font-weight: bold;">Monochromatic</span>, <span style = "color: orange; font-weight: bold;">Complementary</span>,
    <span style = "color: yellow; font-weight: bold;">Split Complementary</span>, <span style = "color: green; font-weight: bold;">Double Complementary</span>, <span style = "color: blue; font-weight: bold;">Analogous</span>, and
    <span style = "color: blueviolet; font-weight: bold;">Triad</span>.
</p>
<p class = "container">
    A <span style = "color: red; font-weight: bold;">Monochromatic</span> relationship
    is simply a single hue on the color wheel, though as with all other color relationships value and saturation can be varied to create a sense of form. 
    A Monochromatic combination should be used to create cohesion and union within a piece.
</p>
<p class = "container">
    A <span style = "color: orange; font-weight: bold;">Complementary</span> relationship
    is when 2 hues on opposing sides of the color wheel are used with one another. One of the more well known color relationships, Complementary relationships are often utilized
    to create contrast to further make each of the colors used more noticable.
</p>
<p class = "container">
    A <span style = "color: yellow; font-weight: bold;">Split Complementary</span> relationship
    is almost exactly like a Complementary relationship however one of the hues used is split into two adjacent hues on the color wheel. Split Complementary relationships operate like
    Complementary ones, but is used when the contrast of the Complementary relationship is deemed too intense.

</p>
<p class = "container">
    A <span style = "color: green; font-weight: bold;">Double Complementary</span> relationship
    is a combination of 2 complementary relationships making 4 hues in total. A Double Complemenary relationships is the best way to create a lot of variety within a design while
    still looking visually appealing.
</p>
<p class = "container">
    A <span style = "color: blue; font-weight: bold;">Analogous</span> relationship
    is when 3 hues adjacent to one another on the color wheel are used together. This sort of relationship is often seen in nature given it a very natural and soothing feeling to the eye.
</p>
<p class = "container">
    A <span style = "color: blueviolet; font-weight: bold;">Triad</span> relationship 
    is when 3 hues with equal spacing from one another on the color wheel are used together. Triad relationships are used to to create vibrancy within a design and can make objects stick out more, similar to a Complementary relationship.
</p>

<button class = "btn btn-secondary" (click) = "scrollUp()">
    Go back up.
</button>