
<h1 style = "font-weight: bold;">Symbolism</h1>
<p class = "container">
    Color Symbolism is the idea that certain colors on their own covey or symbolize certain emotions or human values. When applied to a design it can inject those symbols and convey them subconsciously to the audience.
    Though symbolism may seem like an abstract and intangible concept it's important to know about color symbolism because of the significance it has to many cultures who have used them in the past.
</p>
<p class = "container">
    Note that colors can have different symbolism based on the culture or perspective of those you ask. Many cultures have their own take on what a color means and what emotion it conveys.
    The following symbolisms of color are a very broad and general overview, to learn about what each color means more specifically to a culture navigate to the <a routerLink = "/color-symbolism">Color Symbolism Section</a> for a more in depth analysis of them.
</p>
<p class = "container">
    <span style = "color: red; font-weight: bold;">Red</span>: Passion, Power, Danger, Violence
</p>

<p class = "container">
    <span style = "color: orange; font-weight: bold;">Orange</span>: Energy, Warmth, Enthusiasm, Kindness
</p>

<p class = "container">
    <span style = "color: yellow; font-weight: bold;">Yellow</span>: Playfulness, Cowardiace, Happiness, Youth
</p>

<p class = "container">
    <span style = "color: green; font-weight: bold;">Green</span>: Nature, Growth, Fertility, Vigor
</p>

<p class = "container">
    <span style = "color: blue; font-weight: bold;">Blue</span>: Peace, Harmony, Truth, Loyalty, Order
</p>

<p class = "container">
    <span style = "color: blueviolet; font-weight: bold;">Purple</span>: Luxury, Royalty, Magic, Spirituality
</p>

<p class = "container">
    <span style = "color: pink; font-weight: bold;">Pink</span>: Love, Acceptance, Sensitivity, Sweetness
</p>

<p class = "container">
    <span style = "color: White; font-weight: bold;">White</span>: Purity, Simplicity, Cleanliness, Innocence
</p>

<p class = "container">
    <span style = "color: rgb(61, 61, 61); font-weight: bold;">Black</span>: Elegance, Sophistication, Mourning, Mystery
</p>

<p class = "container">
    <span style = "color: rgb(117, 68, 39); font-weight: bold;">Brown</span>: Stability, Comfort, Reliability, Poverty
</p>

<button class = "btn btn-secondary" (click) = "scrollUp()">
    Go back up.
</button>
